body{
margin:0;
font-family:'Orbitron', sans-serif;
color:white;
background:black;
overflow-x:hidden;
}



/* FULLSCREEN VIDEO BACKGROUND */

.bg-video{

position:fixed;

top:0;
left:0;

min-width:100%;
min-height:100%;

width:auto;
height:auto;

object-fit:cover;

z-index:-100;

}



/* NAVBAR */

.navbar{

position:fixed;

top:0;
left:0;

width:100%;

padding:25px 60px;

display:flex;

justify-content:space-between;

align-items:center;

z-index:10;

}



.logo{

font-size:22px;

font-weight:800;

letter-spacing:2px;

}



.install-btn{

background:#ff0077;

padding:12px 22px;

border-radius:8px;

text-decoration:none;

color:white;

font-weight:600;

}



/* HERO */

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:0 20px;

}



.hero h1{

font-size:72px;

line-height:1.2;

margin-bottom:25px;

}



.hero p{

font-size:18px;

opacity:0.9;

margin-bottom:35px;

}



.play-btn{

background:#00eaff;

padding:18px 40px;

border-radius:10px;

text-decoration:none;

color:black;

font-weight:700;

font-size:18px;

}
