body{
margin:0;
font-family:'Orbitron', sans-serif;
color:white;
background:black;
}


/* BACKGROUND VIDEO */

.bg-video{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
z-index:-10;
filter:brightness(0.35);
}



/* NAVBAR */

.navbar{
position:fixed;
top:0;
left:0;
width:100%;
padding:20px 60px;
display:flex;
justify-content:space-between;
align-items:center;
z-index:5;
}


.logo{
font-size:22px;
font-weight:800;
letter-spacing:2px;
}


.install-btn{
background:#ff0077;
padding:10px 20px;
border-radius:8px;
text-decoration:none;
color:white;
font-weight:600;
}



/* HERO */

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:0 20px;
}


.hero h1{
font-size:70px;
line-height:1.2;
margin-bottom:25px;
}


.hero p{
font-size:18px;
opacity:0.9;
margin-bottom:35px;
}


.play-btn{
background:#00eaff;
padding:18px 40px;
border-radius:10px;
text-decoration:none;
color:black;
font-weight:700;
font-size:18px;
}



/* FEATURES */

.features{
padding:100px 10%;
text-align:center;
background:rgba(0,0,20,0.7);
backdrop-filter:blur(6px);
}


.features h2{
font-size:40px;
margin-bottom:60px;
}


.features-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:40px;
}


.feature-card{
background:#0c0c25;
padding:35px;
border-radius:12px;
transition:transform 0.2s;
}


.feature-card:hover{
transform:scale(1.05);
}



/* GAMEPLAY */

.screenshots{
padding:100px 10%;
text-align:center;
}


.screenshots h2{
font-size:40px;
margin-bottom:50px;
}


.gallery{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}


.gallery img{
width:320px;
border-radius:10px;
}



/* FOOTER */

footer{
padding:60px;
text-align:center;
background:#000;
opacity:0.8;
}
